@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.nav__links li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #222325
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #222325;
}
.nav__links{
    list-style: none;
    background-color: #222325
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #0caed6
}
button{
    padding:  9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
    
}
